@import url(../common/global.css);

.autocomplete{
    background: red;
    font-size:16px;
}
.title{
    color: blue;
    font-weight: bold;
}
.text{
    color: red;
    font-weight: bold;
}
.content{
    background: #ccc;
}