@import url(../common/global.css);

.autocomplete{
    margin: 10px 0;
    border: 2px dashed #57f5a9;
    font-size:16px;
}
.title{
    color: #57f5a9;
    font-weight: bold;
}
.text{
    color: #333;
    font-weight: bold;
}
.content{
    background: #ccc;
}