@import url(../common/global.css);

.lazyload{
    /*background: blue;*/
    background: url("./loading.png") no-repeat 0 0;
    border: 2px dashed #ea8bbd;
}
.title{
    color: #ea8bbd;
    font-size: 16px;
}
.text{
    color: #dc2384;
}
.image{
    width: 30px;
    height: 30px;
}