@import url(../common/global.css);
.app{
    margin: 0;
}

.app .autocomplete{
    border: 1px solid #ccc;
}

.app :global(.modules-autocomplete-autocomplete-autocomplete){
    border: 3px dashed #ccc;
}